:root {
  --color-background: #2d3032;
  --color-text: #ffffff;
  --color-accent: #59c3eb;
}

.bright {
  --color-background: #ffffff;
  --color-text: #2d3032;
  --color-accent: #59c3eb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
